{% extends 'base.html' %}
{% block content %}

<h2>➕ Create New Exam</h2>
<div class="card shadow mt-3">
    <div class="card-body">
        <form method="POST">
            <div class="mb-3">
                <label class="form-label">Exam Title</label>
                <input type="text" name="title" class="form-control"
                       placeholder="e.g. Cybersecurity Midterm" required>
            </div>
            <button type="submit" class="btn btn-primary">Create Exam & Add Questions</button>
            <a href="{{ url_for('admin.dashboard') }}" class="btn btn-secondary ms-2">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}